.shadow
{
    width:100%;
}
.findlogo
{
    margin-top: 57px;
    margin-left: 2px;
    height:43px;
    border-radius:7px;
    width:100px;
}
.frm
{
    margin-top:70px;
    margin-left:18%;
}
.frmcntrl
{
    height:45px;
    border-radius:7px;
    font-size: 1.3em;
}
.wht
{
    font-family:sans-serif;
    font-weight:600;
}
.rvw
{
    text-align:center;
    font-family:sans-serif;
    font-weight:600;
    margin-top:82px;
    font-size: 2.1em;
}
.slider
{
    height:430px;
}
.game
{
    height:50px;
    width: 50px;
    margin-left: 10px;
    margin-top:10px;
}
.sjana
{
 font-size:1.5em;
    margin-top: 20px;
    margin-left:20px;
    font-family:sans-serif;
}
.iwj
{
    height:120px;
    width:250px;
   margin-right: 30%;
    margin-top: 50px;
    font-size:2em;
    margin-left:20%;
}
.iwj:hover
{
    background-color:cornflowerblue;
    text-decoration-color: forestgreen;
}
.iwk
{
    height:120px;
    width:250px;
   margin-left: 20%;
    margin-top: 60px;
    font-size:2em;
}
.iwk:hover
{
    background-color:cornflowerblue;
    text-decoration-color: forestgreen;
}
.ikons input[type=text]
{
   padding-left: 40px;
}
.ikon
{
    position: relative;
    top: -35px;
    left:10px;
    opacity:0.6;
}
